@font-face {
    font-family: neon;
    src: url(assets/fonts/SunsetClubFreeTrial-2ODpw.otf);
/* link: https://www.fontspace.com/sunset-club-font-f53575 */
}

:root{
    --pink-lace: #EECCE7ff;
    --rose-pink: #F76DC2ff;
    --flirt: #A70074ff;
    --cornflower-blue: #7F96FF;
    --usafa-blue: #0B5292ff;
    --oxford-blue: #00284Bff;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--usafa-blue);
    font-family: Arial, sans-serif;
}


header{
    font-family: neon, Arial, sans-serif;
    background-color: var(--oxford-blue);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;  
}

header img{
    width: 64px;
    height: 64px;
    color: white;
}

header ul{
    display: flex;
    margin: 23px;
}

header li, a{
    list-style-type: none;
    padding-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.opt{
    font-family: neon, Arial, sans-serif;
    color: white;
    padding: 5px;
    font-size: 2em;
    border: 2px solid white;
    border-radius: 5px;
}

.opt:hover{ /* neon efect */
    box-shadow: .1vw 0vw .25vw var(--pink-lace), .2vw 0vw .25vw var(--pink-lace), .4vw 0vw .25vw var(--pink-lace), 
  
    .1vw 0vw   0vw var(--rose-pink), .2vw 0vw   0vw var(--rose-pink), .4vw 0vw   0vw var(--rose-pink),
    .1vw 0vw  .1vw var(--rose-pink), .2vw 0vw  .1vw var(--rose-pink), .4vw 0vw  .1vw var(--rose-pink),
    .1vw 0vw   2vw var(--rose-pink), .2vw 0vw   2vw var(--rose-pink), .4vw 0vw   2vw var(--rose-pink), 
  
    .1vw 0vw   1vw var(--flirt), .2vw 0vw   1vw var(--flirt), .4vw 0vw   5vw var(--flirt), 
    .1vw 0vw   5vw var(--flirt), .2vw 0vw  20vw var(--flirt), .4vw 0vw  10vw var(--flirt),
    .1vw 0vw  10vw var(--flirt), .2vw 0vw  30vw var(--flirt), .4vw 0vw  10vw var(--flirt);

    text-shadow: 
    .1vw 0vw .25vw var(--pink-lace), .2vw 0vw .25vw var(--pink-lace), .4vw 0vw .25vw var(--pink-lace), 
  
    .1vw 0vw   0vw var(--rose-pink), .2vw 0vw   0vw var(--rose-pink), .4vw 0vw   0vw var(--rose-pink),
    .1vw 0vw  .1vw var(--rose-pink), .2vw 0vw  .1vw var(--rose-pink), .4vw 0vw  .1vw var(--rose-pink),
    .1vw 0vw   2vw var(--rose-pink), .2vw 0vw   2vw var(--rose-pink), .4vw 0vw   2vw var(--rose-pink), 
  
    .1vw 0vw   1vw var(--flirt), .2vw 0vw   1vw var(--flirt), .4vw 0vw   5vw var(--flirt), 
    .1vw 0vw   5vw var(--flirt), .2vw 0vw  20vw var(--flirt), .4vw 0vw  10vw var(--flirt),
    .1vw 0vw  10vw var(--flirt), .2vw 0vw  30vw var(--flirt), .4vw 0vw  10vw var(--flirt);
}

.title{
    display: inline;
    color: white;
    padding: 2px;
    font-family: neon, Arial, sans-serif;
    font-size: 4em;
}

.neon-txt{ /* neon efect */
    text-shadow: 
    .1vw 0vw .25vw var(--pink-lace), .2vw 0vw .25vw var(--pink-lace), .4vw 0vw .25vw var(--pink-lace), 
  
    .1vw 0vw   0vw var(--rose-pink), .2vw 0vw   0vw var(--rose-pink), .4vw 0vw   0vw var(--rose-pink),
    .1vw 0vw  .1vw var(--rose-pink), .2vw 0vw  .1vw var(--rose-pink), .4vw 0vw  .1vw var(--rose-pink),
    .1vw 0vw   2vw var(--rose-pink), .2vw 0vw   2vw var(--rose-pink), .4vw 0vw   2vw var(--rose-pink), 
  
    .1vw 0vw   1vw var(--flirt), .2vw 0vw   1vw var(--flirt), .4vw 0vw   5vw var(--flirt), 
    .1vw 0vw   5vw var(--flirt), .2vw 0vw  20vw var(--flirt), .4vw 0vw  10vw var(--flirt),
    .1vw 0vw  10vw var(--flirt), .2vw 0vw  30vw var(--flirt), .4vw 0vw  10vw var(--flirt);
}

.sobre{
    height: 500px;
    padding: 10px;
    margin-top: 25px;
    text-align: center;
}

